<!DOCTYPE html>
<html lang="zh-CN">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="wnameth=device-wnameth, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.15.4/bootstrap-table.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <!-- <link href="https://cdn.bootcss.com/bootstrap-select/1.13.12/css/bootstrap-select.min.css" rel="stylesheet"> -->
    <link href="../static/table_config.css" rel="stylesheet">

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.15.4/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.2.2/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.bootcss.com/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/bootstrap-select/1.13.12/js/bootstrap-select.min.js"></script> -->
    <script src="../static/bootstrap-table-editable.js"></script>
    <script src="../static/configurator.js"></script>

    <title>爬虫快速配置工具</title>   
</head>
<body>
    <div id="wrap">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand"  href="#">爬虫快速配置工具</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li :class="(pageIndex==0)?styleActive:styleEmpty"><a @click="pageIndex=0" href="#">配置工具</a></li>
                    <li :class="(pageIndex==1)?styleActive:styleEmpty"><a @click="pageIndex=1" href="#">代码查看</a></li>
                    <li :class="(pageIndex==2)?styleActive:styleEmpty"><a @click="pageIndex=2" href="#">测试执行</a></li>
                </ul>
            </div>
        </nav>
        <div class="container" v-if="(pageIndex==0)">
            
            <h1>爬虫快速配置工具</h1>
            <hr/>
            <form class="form-horizontal" action="">
                <div class="form-group">
                    <label class="control-label col-xs-1">载入配置</label>
                    <div class="dropdown col-xs-2">
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                            data-toggle="dropdown">已保存配置
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li v-for="item in savedConfigItems" role="presentation">
                                <a v-on:click="savedConfigSelect($event)" role="menuitem" value="item">[[ item ]]</a>
                            </li>
                        </ul>
                    </div>
                    <div class="input-group col-xs-3">
                        <input name="stage_name" type="text" v-model="configName" class="form-control"
                            placeholder="配置名称">
                        <span class="input-group-btn">
                            <button @click="loadCurrentConfig" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </span>
                    </div>
                    
                </div>
                <div v-for="(stageItem, stageIndex) in totalConfig.stages" class="block">
                    <div>[[stageIndex]] : [[JSON.stringify(stageItem)]]</div>
                    <div class="form-group">
                        <label class="control-label col-xs-1">Stage名称</label>
                        <div class="input-group col-xs-6">
                            <input name="request_url" type="text" v-model="stageItem.name" class="form-control" placeholder="Stage名称，请勿重复">
                            <span class="input-group-btn">
                                <!-- <div v-if="totalConfig.stages.length > 1">
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#stage-remove-confirm">移除该Stage</button>
                                    <div class="modal fade" id="stage-remove-confirm" tabindex="-1" role="dialog"
                                        aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">移除操作无法撤回，确认删除？</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                    <button type="button" class="btn btn-danger" @click="removeStage(stageIndex)"
                                                        data-dismiss="modal">确认移除</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-else> 
                                    <button type="button" class="btn btn-danger disabled">移除该Stage</button>
                                </div> -->
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-1">URL</label>
                        <div class="input-group col-xs-6"> 
                            <span class="input-group-addon">http://</span>
                            <input name="request_url" type="text" v-model="stageItem.request.url" class="form-control" placeholder="URL">
                        </div>
                    </div>
                    <div class="form-group"> 
                        <label class="control-label col-xs-1">method</label>
                        <div class="input-group col-xs-1">
                            <input name="request_method" type="text" v-model="stageItem.request.method" class="form-control"
                                placeholder="method">   
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-1">选项</label>
                        <div class="input-group col-xs-1">
                            <span class="input-group-addon">
                                输出自动解析结果
                            </span>
                            <span class="input-group-addon">
                                <input type="checkbox" v-model="stageItem.auto_get_body">
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-xs-1 col-xs-offset-1">
                            <span class="input-group-addon">
                                下一stage默认网址去重
                            </span>
                            <span class="input-group-addon">
                                <input type="checkbox" v-model="stageItem.remove_repeats">
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-xs-1 col-xs-offset-1">
                            <span class="input-group-addon">
                                特殊站点页面再刷新
                            </span>
                            <span class="input-group-addon">
                                <input type="checkbox" v-model="stageItem.need_refresh">
                            </span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapse">
                        高级配置
                    </button>
                    <div id="collapse" class="collapse out">
                        <br />
                        <!-- stageExternal -->
                        <div v-for="i in stageItem.header.external.length" class="form-group">
                            <div v-if="i == 1">
                                <label class="control-label col-xs-1">外部参数</label>
                                <div class="input-group col-xs-4">
                                    <input type="text" v-model="stageItem.header.external[i-1]" class="form-control" placeholder="外部参数">
                                    <span class="input-group-btn">
                                        <button @click="stageExternalAdd($event, stageIndex)" type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div v-else>
                                <div class="input-group col-xs-4 col-xs-offset-1">
                                    <input type="text" v-model="stageItem.header.external[i-1]" class="form-control" placeholder="外部参数">
                                    <span class="input-group-btn">
                                        <button @click="stageExternalRemove($event, stageIndex, i-1)" type="button"
                                            class="btn btn-default">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- stageLoop -->
                        <div v-for="i in stageItem.header.loop.length" class="form-group">
                            <div v-if="i == 1">
                                <label class="control-label col-xs-1">循环参数</label>
                                <div class="input-group col-xs-4">
                                    <span class="input-group-addon">s.header.loop.</span>
                                    <input type="text" v-model="stageItem.header.loop[i-1].key" class="form-control" placeholder="name">
                                    <span class="input-group-btn">
                                        <button @click="stageLoopAdd($event, stageIndex)" type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div v-else>
                                <div class="input-group col-xs-4 col-xs-offset-1">
                                    <span class="input-group-addon">s.header.loop.</span>
                                    <input type="text" v-model="stageItem.header.loop[i-1].key" class="form-control" placeholder="name">
                                    <span class="input-group-btn">
                                        <button @click="stageLoopRemove($event, stageIndex, i-1)" type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>

                                </div>
                            </div>
                            <div class="input-group col-xs-8 col-xs-offset-1">
                                <input type="text" v-model="stageItem.header.loop[i-1].value" class="form-control"
                                    placeholder="loop-list">
                            </div>
                        </div>
                        <br />
                        <!-- stageHeaders -->
                        <div v-for="i in stageItem.request.headers.length" class="form-group">
                            <div v-if="i == 1">
                                <label class="control-label col-xs-1">headers</label>
                                <div class="input-group col-xs-4">
                                    <span class="input-group-addon">s.request.headers.</span>
                                    <input type="text" v-model="stageItem.request.headers[i-1].key" class="form-control"
                                        placeholder="header">
                                    <span class="input-group-btn">
                                        <button @click="stageHeadersAdd($event, stageIndex)" type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div v-else>
                                <div class="input-group col-xs-4 col-xs-offset-1">
                                    <span class="input-group-addon">s.request.headers.</span>
                                    <input type="text" v-model="stageItem.request.headers[i-1].key" class="form-control"
                                        placeholder="header">
                                    <span class="input-group-btn">
                                        <button @click="stageHeadersRemove($event, stageIndex, i-1)" type="button"
                                            class="btn btn-default">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="input-group col-xs-8 col-xs-offset-1">
                                <input type="text" v-model="stageItem.request.headers[i-1].value" class="form-control"
                                    placeholder="value">
                            </div>
                        </div>
                        <!-- stageCookies -->
                        <div v-for="i in stageItem.request.cookies.length" class="form-group">
                            <div v-if="i == 1">
                                <label class="control-label col-xs-1">cookie</label>
                                <div class="input-group col-xs-4">
                                    <span class="input-group-addon">s.request.cookie.</span>
                                    <input type="text" v-model="stageItem.request.cookies[i-1].key" class="form-control"
                                        placeholder="cookie name">
                                    <span class="input-group-btn">
                                        <button @click="stageCookiesAdd($event, stageIndex)" type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div v-else>
                                <div class="input-group col-xs-4 col-xs-offset-1">
                                    <span class="input-group-addon">s.request.cookie.</span>
                                    <input type="text" v-model="stageItem.request.cookies[i-1].key" class="form-control"
                                        placeholder="cookie name">
                                    <span class="input-group-btn">
                                        <button @click="stageCookiesRemove($event, stageIndex, i-1)" type="button"
                                            class="btn btn-default">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="input-group col-xs-8 col-xs-offset-1">
                                <input type="text" v-model="stageItem.request.cookies[i-1].value" class="form-control"
                                    placeholder="value">
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="control-label col-xs-1">最大爬取深度限制</label>
                            <div class="input-group col-xs-2">
                                <input name="stage_deepthlimit" type="text" v-model="stageDeepthLimit" class="form-control"
                                    placeholder="无限制即填负值">
                            </div>
                        </div> -->
                    </div>
                    <!-- <table v-bind: id="table[[stageIndex]]"></table> -->
                
                    


                </div>
            </form>
            <!-- <table id="table"></table> -->
            </br>
            <button type="button" class="btn btn-primary" @click="submit">
                提交
            </button>
        </div>
        <div class="container" v-else-if="(pageIndex==1)">
            <from class="form-horizontal" action="">
                <div class="form-group">
                    <label class="control-label col-xs-1">载入配置</label>
                    <div class="dropdown col-xs-2">
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown">
                            [[(currentStage==null)?"请选择Stage":currentStage]]
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                            <li v-for="item in savedStageItems" role="presentation">
                                <a @click="loadSelectedStage($event)" role="menuitem" value="item">[[ item ]]</a>
                            </li>
            
                        </ul>
                    </div>
                </div>
            </from>
            <div v-if="(jsonStage != '')">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#code-stage" data-toggle="tab">原始代码</a></li>
                    <li><a href="#code-config" data-toggle="tab">配置代码</a></li>
                    <li><a href="#code-validation" data-toggle="tab">配置验证日志</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="code-stage">
                        <pre>[[jsonStage]]</pre>
                    </div>
                    <div class="tab-pane fade" id="code-config">
                        <pre>[[jsonConfig]]</pre>
                        
                    </div>
                    <div class="tab-pane fade" id="code-validation">
                        <pre>[[jsonValidation]]</pre>
                    </div>
                </div>
                <div class="btn-toolbar" role="toolbar">
                    <button class="btn btn-primary" @click="validateConfig">验证Config</button>
                    <button class="btn btn-default" @click="CorrectConfig">验证并自动更正</button>
                    <button class="btn btn-danger"  data-toggle="modal" data-target="#stage-delete-confirm">删除Stage</button>
                    <div class="modal fade" id="stage-delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">  &times; </button>
                                    <h4 class="modal-title" id="myModalLabel">删除操作无法撤回，确认删除？</h4>
                                </div>
                                <!-- <div class="modal-body">在这里添加一些文本 </div> -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-danger" @click="DeleteStage" data-dismiss="modal">确认删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container" v-else-if="(pageIndex==2)">
            <from class="form-horizontal" action="">
                <div class="form-group">
                    <label class="control-label col-xs-1">入口配置</label>
                    <div class="dropdown col-xs-2">
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown">已保存配置
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                            <li v-for="item in savedEntranceItems" role="presentation">
                                <a @click="savedEntranceSelect($event)" role="menuitem" value="item">[[ item ]]</a>
                            </li>
                        </ul>
                    </div>
                    <div class="input-group col-xs-3">
                        <input name="stage_name" type="text" v-model="entranceName" class="form-control" placeholder="Entrance名称">
                        <span class="input-group-btn">
                            <button @click="loadCurrentEntrance()" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div v-if="(entranceName != '')">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#entrance-config" data-toggle="tab">入口配置</a></li>
                        <li><a href="#entrance-log" data-toggle="tab">爬取日志</a></li>
                    </ul>
                    </br>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="entrance-config">
                            
                            <div class="form-group">
                                <label class="control-label col-xs-1">入口Stage</label>
                                <div class="dropdown col-xs-2">
                                    <button type="button" class="btn dropdown-toggle" id="dropdownMenu4" data-toggle="dropdown">
                                        [[(currentEntranceStage==null)?"请选择Stage":currentEntranceStage]]
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
                                        <li v-for="item in savedStageItems" role="presentation">
                                            <a @click="savedEntranceStageSelect($event)" role="menuitem" value="item">[[ item ]]</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1">初始外部参数</label>
                                <div class="input-group col-xs-4">
                                    <textarea class="form-control" v-model="currentEntranceExternal" rows="5"
                                        placeholder="JSON语法"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1">定时执行</label>
                                <div class="input-group col-xs-4">
                                    <input type="text" v-model="currentEntranceCrontab" class="form-control"
                                        placeholder="crontab语法，不填即仅只执行一次">
                                </div>
                            </div>
                            <div class="btn-toolbar" role="toolbar">
                                <button class="btn btn-primary" @click="entranceSubmit">保存Entrance</button>
                                <button class="btn btn-default" @click="entranceRun">保存并执行Entrance</button>
                                <button class="btn btn-danger"  data-toggle="modal" data-target="#entrance-delete-confirm">删除Entrance</button>
                                <div class="modal fade" id="entrance-delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">  &times; </button>
                                                <h4 class="modal-title" id="myModalLabel">删除操作无法撤回，确认删除？</h4>
                                            </div>
                                            <!-- <div class="modal-body">在这里添加一些文本 </div> -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                <button type="button" class="btn btn-danger" @click="entranceDelete" data-dismiss="modal">确认删除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="entrance-log">
                            <pre>[[entranceLog]]</pre>
                        </div>
                    </div>
                </div>
            </from>
        </div>
    </div>
</body>
</html>
